
  <h2>Proyectos</h2>
  <app-addbutton *ngIf="login" (click)="abrirModalAgregar()"></app-addbutton>
  <br>
  <br>
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let Pro of proyecto">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="Pro.url_proyecto" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex justify-content-between">
          <h5 class="card-title">{{Pro.nombre}}</h5><app-deletebutton (click)="borrarProyecto (Pro.id_proyecto)" *ngIf="login"></app-deletebutton ><app-editbutton *ngIf="login" (click)="abrirModal(Pro.id_proyecto)"></app-editbutton>
        </div>
          <p class="card-text">{{Pro.descripcion}}</p>
          <a href="https://github.com/" class="btn btn-primary" target="_blank">Click here</a>
        </div>
      </div>
    </div>
  </div>