<div class="educacion m-3">
  <h1>EDUCACION </h1>
  
  <app-addbutton *ngIf="login" (click)="crearEducacionModal()" ></app-addbutton>
  <br>
  <br>
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let Edu of educacion">
    <p class="card-text">{{Edu.titulo}}</p>
    
    <div class="d-flex">
      <div class="col-md-4">
        <img [src]="Edu.url_logo_inst" class="img-fluid rounded-start" alt="imagen1">
      </div>
      <div class="col-md-8">
        <div class="card-body"> 
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{Edu.titulo}} </h5>
            <div *ngIf="login"  >
              <app-editbutton (click)="abrirModal(Edu.id_educacion)" class="me-2"></app-editbutton>   <app-deletebutton (click)="borrarEducacion(Edu.id_educacion)" ></app-deletebutton>
            </div>            
        </div>            
          <p class="card-text">{{Edu.institucion}}</p>
          <p class="card-text">{{Edu.url_institucion}</p>
          <p class="card-text">{{Edu.egreso}}</p>
        </div>  
    </div>
  </div>
  </div>
