<div class="section" id="proyectos">
    <div class="container py-2 cc-experience">


        <section class="wrapper">
            <div class="container-fostrap">
                <div class="sbsc cdsbs ">

                    <div class="left h4 text-center  title" style="vertical-align: middle;">
                        Proyectos

                    </div>
                    <app-btn-agregar class="right " *ngIf="$estado" (click)="msgBack('Agregar',[])"
                        class="d-flex align-items-center ">
                    </app-btn-agregar>
                </div>




                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4" *ngFor="let item of data">
                                <div class="card">
                                    <a class="img-fluid" alt="100%x280" href={{item.url_proyecto}}>
    <!-- SI LA IMAGEN NULL O ERROR CARGA PREDETERMINADA -->
                                        <img class="img-fluid" alt="100%x280"
                                            src="{{ item.url_imagen ? item.url_imagen : this.logo_proyecto }}"
                                            (error)="pictNotLoading($event)" />
                                    </a>

                                    <div class="card-content">
                                        <h4 class="card-title">

                                            <div class="sbs">
                                                <span>
                                                    {{item.nombre || 'sin datos'}}
                                                </span>
                                                <app-btn-editar class="right" *ngIf="$estado"
                                                    (click)="msgBack('Editar',item)" class="d-flex align-items-center">
                                                </app-btn-editar>
                                                <app-btn-eliminar class="right" *ngIf="$estado"
                                                    (click)="msgBack('Eliminar',item)"
                                                    class="d-flex align-items-center"></app-btn-eliminar>
                                            </div>
                                        </h4>
                                        <p class="">
                                            {{item.descripcion || 'sin datos'}}
                                        </p>
                                    </div>
                                    <div class="card-read-more">
                                        <a href={{item.url_proyecto}}  target="_blank" class="btn btn-link btn-block">
                                            Link al Proyecto
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    