<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">

                <!-- ACERCADE -->
          
                <div class="col-lg-6 col-md-12  ">
                    <div class=" card-body">
                        <div clas="sbsc">
                            <div class="h4 mt-0 title">Acerca de Mi</div>
                            <app-btn-editar class="right" *ngIf="$estado" (click)="msgBack('Acercade',persona)"
                                class="d-flex align-items-center"></app-btn-editar>
                        </div>
                        <p align="justify">{{ persona?.acercade || 'Sin datos'}}</p>

                    </div>

                </div>


                <!-- DATOS PERSONALES -->
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div clas="sbs">
                            <span>
                                <div class="h4 mt-0 title">Datos Generales</div>
                            </span>
                            <app-btn-editar class="right" *ngIf="$estado" (click)="msgBack('Datos',persona)"
                                class="d-flex align-items-center"></app-btn-editar>
                        </div>                     

                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">
                                {{persona?.email || 'Sin Datos'}}
                            </div>
                        </div>
                        <div class="row mt-4">


                            <div class="col-sm-4">
                                <strong class="text-uppercase">Telefono:</strong>
                            </div>
                            <div class="col-sm-8">
                                {{persona?.telefono ||'Sin Datos'}}
                            </div>

                        </div>

                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Ubicacion:</strong>
                            </div>
                            <div class="col-sm-8">
                                {{persona?.ubicacion ||'Sin Datos'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>