<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{titulo}} Empleo </h5>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="modal-body">
        <form [formGroup]="editForm" novalidate >
          <div class="form-group">
            <label for="empresa">Empresa</label>
            <div class="input-group">
              <input formControlName="empresa" class="form-control" required type="text">
            </div>
          </div>
          <div class="form-group">
            <label for="puesto">Puesto</label>
            <div class="input-group">
              <input formControlName="puesto" class="form-control" required type="text">
            </div>
          </div>
  
  
          <table class="table">
            <tr>
              <td>
                <div class="form-group">
                  <label for="ingreso">Fecha de Ingreso</label>
                  <div class="input-group">
                    <input formControlName="ingreso" class="form-control" required type="date">
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="egreso">Fecha de Egreso</label>
                  <div class="input-group">
                    <input formControlName="egreso" class="form-control" required type="date">
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <div class="input-group">
              <textarea formControlName="descripcion" class="form-control" required type="text"></textarea>
            </div>
            <div class="input-group">
              <input formControlName="id_experiencia" class="form-control" type="hidden">
              <input formControlName="id_persona" class="form-control" type="hidden">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="closeModal()" >
        {{titulo}}
        </button>
      </div>
  
  
  
  
      </div>
  
    </div>
  
