<div class="section" id="educacion">
    <div class="container cc-education">

        <div class="sbsc cdsbs ">

            <div class="left h4 text-center  title" style="vertical-align: middle;">
                Educacion

            </div>
            <app-btn-agregar class="right " *ngIf="$estado" (click)="msgBack('Agregar',[])"
                class="d-flex align-items-center ">
            </app-btn-agregar>
        </div>

        <div class="card" *ngFor="let item of data">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <div class="content-center">
                            <div>
                                <a href="#">
                                    <!-- SI LA IMAGEN NULL O ERROR CARGA PREDETERMINADA -->
                                    <img class="img-fluid" 
                                    style=" max-width: 500px; width: 40%; height: auto;"
                                        src="{{ item.url_logo_inst ? item.url_logo_inst : this.logo_edu }}" alt="Image"
                                        (error)="pictNotLoading($event)" />

                                </a>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">


                        <div class="sbs">
                            <span>
                                <div class="h5 mt-0 title">Titulo: {{item.titulo || 'Sin Datos'}}</div>
                            </span>
                            <app-btn-editar class="right" *ngIf="$estado" (click)="msgBack('Editar',item)"
                                class="d-flex align-items-center">
                            </app-btn-editar>
                            <app-btn-eliminar class="right" *ngIf="$estado" (click)="msgBack('Eliminar',item)"
                                class="d-flex align-items-center"></app-btn-eliminar>
                        </div>

                        <h4 class="category">Insttitucion: {{item.institucion || 'Sin Datos'}}</h4>
                        <ul>
                            <li> <b> Periodo:
                                    <p> {{item.ingreso ? (item.ingreso | date:'yyyy' ) : 'Sin Datos'}}
                                        -
                                        {{item.egreso ? (item.egreso | date:'yyyy' ) : 'Sin Datos'}}
                                    </p>
                                </b> </li>
                            <li> <b>Sitio Institucion:</b>
                                <p>
                                    <a href={{item.url_institucion}} target="item.url_red">
                                        {{item.institucion || 'click'}}
                                    </a>





                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>