nav{
    background: grey;
  }

  li{
    list-style: none;
    padding: 15px;
  }
  li:hover{
    color: white;
  }
  
  .fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: white;
  }
  .fixed .nav-item{
    color: red;
  }