
<div class="section" id="education">
    <div class="container cc-education">
  
        <div class="sbsc">
            <div class="left h4 text-center mb-4 title">Educacion
            </div>
            <app-btn-agregar class="right" *ngIf="$estado" (click)="msgBack('Agregar',[])"
                class="d-flex align-items-center"></app-btn-agregar>
        </div>

            <div class="card"  *ngFor="let item of data">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2018</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="sbs">
                                <div class="h5 mt-0 title">{{item.titulo}}</div>
                                <!-- <span class=" left progress-badge">{{item.nombre}}</span> -->
                                <app-btn-editar class="right" *ngIf="$estado" (click)="msgBack('Editar',item)"
                                    class="d-flex align-items-center"></app-btn-editar>
                                <app-btn-eliminar class="right" *ngIf="$estado" (click)="msgBack('Eliminar',item)"
                                    class="d-flex align-items-center"></app-btn-eliminar>
                            </div>
                                <h4 class="category">R.V College Of Engineering</h4>
                                <ul>
                                    <li> R.V College Of Engineering(Affilated to VTU) <b>ranks 1st</b> in Karnataka </li>
                                        <li>Completed B.E in Computer Engineering with <b>8.1 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>                                               